In [16]:
import pandas as pd

df = pd.read_csv("../../data/primer-finder-fixed2.csv", sep=";")

In [3]:
df['distance'] = df['b_index'] - df['f_index']
imperfect_matches = df[~((df['f_score'] == 52) & (df['b_score'] == 46))]

In [15]:
distance_counts = imperfect_matches.groupby(['distance']).size().reset_index(name='Count')
distance_counts.sort_values(by=['Count'], ascending=[False])

wrong_distance_matches = imperfect_matches[~((imperfect_matches['distance'] < 238) & (224 < imperfect_matches['distance']))]

score_counts = wrong_distance_matches.groupby(['f_score', 'b_score']).size().reset_index(name='Count')
score_counts.sort_values(by=['Count'], ascending=[False])

     f_score  b_score  Count
351       49       31  12130
376       52        0   7212
395       52       22   7040
350       49       30   6535
353       49       33   6046
..       ...      ...    ...
51        27       36      1
23        25       32      1
40        27       23      1
26        26       21      1
27        26       22      1

[416 rows x 3 columns]

- number of entries
- number of entries with imperfect matches
- number of entries with correct distance
- number of entries with perfect matches and incorrect distance?
- number of bad entries with good distance but terrible scores
    -   what is terrible?