In [21]:
import pandas as pd

df = pd.read_csv("../../data/current/primer-finder-fixed3.csv", sep=";")
total_count = df.shape[0]

# Init

In [22]:
df['distance'] = df['b_index'] - df['f_index']
imperfect_matches = df[~((df['f_score'] == 52) & (df['b_score'] == 46))]
imperfect_count = imperfect_matches.shape[0]

# Imperfect matches

In [24]:
distance_counts = imperfect_matches.groupby(['distance']).size().reset_index(name='Count')
distance_counts.sort_values(by=['Count'], ascending=[False])

wrong_distance_matches = imperfect_matches[~((imperfect_matches['distance'] < 238) & (224 < imperfect_matches['distance']))]
wrong_distance_count = wrong_distance_matches.shape[0]
correct_distance_count = imperfect_count - wrong_distance_count

score_counts = wrong_distance_matches.groupby(['f_score', 'b_score']).size().reset_index(name='Count')
score_counts.sort_values(by=['Count'], ascending=[False])

     f_score  b_score  Count
480       52        0   7212
499       52       22   7040
500       52       23   5657
501       52       24   5488
415       49        0   5115
..       ...      ...    ...
6         23       26      1
5         23       25      1
4         23       22      1
1         21       24      1
3         23       20      1

[520 rows x 3 columns]

In [25]:
score_counts.sort_values(by=['b_score'], ascending=[True])

     f_score  b_score  Count
340       46        0   2343
298       44        0     63
402       48        0     21
322       45        0     20
251       42        0     28
..       ...      ...    ...
90        29       46     17
55        27       46     23
39        26       46     75
24        25       46      4
0          0       46   2965

[520 rows x 3 columns]

In [26]:
df_summed = score_counts.groupby('b_score', as_index=False)['Count'].sum()
print(df_summed)

    b_score  Count
0         0  15730
1         2    293
2         4    105
3         6    197
4         7      2
5         8    870
6         9     65
7        10    177
8        11     73
9        12   1797
10       13    283
11       14   2327
12       15    396
13       16   1112
14       17   1304
15       18    910
16       19   1880
17       20   7708
18       21   6552
19       22  11915
20       23   9301
21       24   8750
22       25   5404
23       26   4902
24       27   3653
25       28   2005
26       29   2511
27       30   2861
28       31   1401
29       32    469
30       33    630
31       34    194
32       35     52
33       36     20
34       37   2301
35       38     12
36       39     30
37       40   6661
38       41      2
39       42      7
40       43   3076
41       44     26
42       46   5640

# Perfect matches

In [ ]:
perfect_matches = df[~((df['f_score'] != 52) & (df['b_score'] != 46))]
perfect_count = perfect_matches.shape[0]

distance_counts = perfect_matches.groupby(['distance']).size().reset_index(name='Count')
distance_counts.sort_values(by=['Count'], ascending=[False])

wrong_distance_perfect_matches = perfect_matches[~((perfect_matches['distance'] < 238) & (224 < perfect_matches['distance']))]
wrong_distance_perfect_count = wrong_distance_perfect_matches.shape[0]

# Good distance, bad Values

In [37]:
good_distance = df[~((df['distance'] < 238) & (224 < df['distance']))]
good_d_bad_m = good_distance[~((good_distance['f_score'] <= 41) & (good_distance['b_score'] != 38))]
good_d_bad_m_count = good_d_bad_m.shape[0]

# Playground

In [51]:
# wrong_distance_perfect_matches.groupby(['distance']).size().reset_index(name='Count').sort_values(by=['Count'], ascending=[False])
wrong_distance_perfect_matches.groupby(['Species']).size().reset_index(name='Count').sort_values(by=['Count'], ascending=[False])
dp = df[~(df['Species'] != 's:Delia_platura')]
print(dp.shape[0]/total_count)

0.006055475207826261

# Summary

In [40]:
print(total_count)
print(f'{imperfect_count}, {imperfect_count/total_count * 100}% of total')
print(f'{wrong_distance_count}, {wrong_distance_count/total_count * 100}% of total, {wrong_distance_count/imperfect_count * 100}% of imperfect')
print(f'{perfect_count}')
print(f'{wrong_distance_perfect_count}')
print(f'{correct_distance_count}')
print(f'{good_d_bad_m_count}')

2381316
1482755, 62.2662007058282% of total
113604, 4.770639427946564% of total, 7.661683825041898% of imperfect
1907822
55100
1369151
98139