In [25]:
import pandas as pd

df = pd.read_csv("../../data/primer-finder-multi4.csv", sep=";")
print(df.head())

C:\Users\Julian\AppData\Local\Temp\ipykernel_25436\2847371014.py:3: DtypeWarning: Columns (9,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../../data/primer-finder-multi4.csv", sep=";")

         BOLD ID       Read ID     Country            Phylum      Class  \
0  >BOLD:AAA7085  BLPDA1021-18  Costa_Rica  tax=p:Arthropoda  c:Insecta
1  >BOLD:AAA7085  MHMYN6354-14  Costa_Rica  tax=p:Arthropoda  c:Insecta
2  >BOLD:AAA7085   MHASB734-07  Costa_Rica  tax=p:Arthropoda  c:Insecta
3  >BOLD:AAA7085   MHATB310-06  Costa_Rica  tax=p:Arthropoda  c:Insecta
4  >BOLD:AAA7085  BLPAA6663-17  Costa_Rica  tax=p:Arthropoda  c:Insecta

           Order         Family      Genus                  Species f_score  \
0  o:Lepidoptera  f:Saturniidae  g:Lonomia  s:Lonomia_santarosensis    49.0
1  o:Lepidoptera  f:Saturniidae  g:Lonomia  s:Lonomia_santarosensis    49.0
2  o:Lepidoptera  f:Saturniidae  g:Lonomia  s:Lonomia_santarosensis    49.0
3  o:Lepidoptera  f:Saturniidae  g:Lonomia  s:Lonomia_santarosensis    49.0
4  o:Lepidoptera  f:Saturniidae  g:Lonomia  s:Lonomia_santarosensis    49.0

                      f_match  f_index b_score                  b_match  \
0  GGDACWGGWTGAACWGTWTAYCCHCC    304.0    46.0  CCWGTWYTAGCHGGDGCWATYAC
1  GGDACWGGWTGAACWGTWTAYCCHCC    318.0    46.0  CCWGTWYTAGCHGGDGCWATYAC
2  GGDACWGGWTGAACWGTWTAYCCHCC    318.0    46.0  CCWGTWYTAGCHGGDGCWATYAC
3  GGDACWGGWTGAACWGTWTAYCCHCC    318.0    46.0  CCWGTWYTAGCHGGDGCWATYAC
4  GGDACWGGWTGAACWGTWTAYCCHCC    318.0    46.0  CCWGTWYTAGCHGGDGCWATYAC

   b_index
0    535.0
1    549.0
2    549.0
3    549.0
4    549.0

In [34]:
# foreach order
    # create statistic over all f_primer and b_primer
    # search top 5 families
        # also create statistic

forward_family_counts = df.groupby(['Order', 'Family', 'f_match']).size().reset_index(name='Count')
back_family_counts = df.groupby(['Order', 'Family', 'b_match']).size().reset_index(name='Count')
forward_family_counts.sort_values(by=['Order', 'Family', 'Count'], ascending=[True, True, False])
back_family_counts.sort_values(by=['Order', 'Family', 'Count'], ascending=[True, True, False])

,Order,Family,b_match,Count
0,f:Erebidae,g:Hypena,549,1
1,o:,f:Clistosaccidae,CCWGTWYTAGCHGGDGCWATYAC,13
2,o:,f:Peltogasterellidae,CCWGTWYTAGCHGGDGCWATYAC,19
4,o:,f:Peltogastridae,CCWGTWYTAGCHGGDGCWATYAC,49
3,o:,f:Peltogastridae,CCWGTWYTAGCHGGDGCW,1
...,...,...,...,...
10997,o:Zygentoma,f:Nicoletiidae,CWGTWYTAGCHG-GDGCWATY,1
10998,o:Zygentoma,f:Nicoletiidae,TWYT---AGCHGGDGCW---A---TY---AC,1
10999,o:Zygentoma,f:Nicoletiidae,WG---TWYTAGC---HGGDG---CWA---TYAC,1
11001,o:Zygentoma,f:Tricholepidiidae,CCWGTWYTAGCHGGDGCWATYAC,1
11002,o:Zygentoma,f:Tricholepidiidae,WGTWYTAGCHGGDGCWA------TYAC,1

In [35]:
forward_order_counts = df.groupby(['Order', 'f_match']).size().reset_index(name='Count')
back_order_counts = df.groupby(['Order', 'b_match']).size().reset_index(name='Count')
forward_order_counts.sort_values(by=['Order', 'Count'], ascending=[True, False])
back_order_counts.sort_values(by=['Order', 'Count'], ascending=[True, False])

            Order                          b_match  Count
0      f:Erebidae                              549      1
4              o:          CCWGTWYTAGCHGGDGCWATYAC    150
7              o:    CWGTWY---TAGCHGGDG------CWATY     14
1              o:  CCWG------TWYTAG---CHGGDGCWATYA      1
2              o:               CCWGTWYTAGCHGGDGCW      1
...           ...                              ...    ...
4481  o:Zygentoma             CCWGTWYTAGCHGGDGCWAT      1
4484  o:Zygentoma            CWGTWYTAGCHG-GDGCWATY      1
4485  o:Zygentoma        CWGTWYTAHGGDGC---WA---TYA      1
4486  o:Zygentoma  TWYT---AGCHGGDGCW---A---TY---AC      1
4490  o:Zygentoma      WGTWYTAGCHGGDGCWA------TYAC      1

[4491 rows x 3 columns]

In [39]:
with pd.ExcelWriter('../../data/primer-counts.xlsx', engine='openpyxl') as writer:
    forward_family_counts.sort_values(by=['Order', 'Family', 'Count'], ascending=[True, True, False]).to_excel(writer, sheet_name="forward_family", index=False)
    forward_order_counts.sort_values(by=['Order', 'Count'], ascending=[True, False]).to_excel(writer, sheet_name="forward_order",  index=False)
    back_family_counts.sort_values(by=['Order', 'Family', 'Count'], ascending=[True, True, False]).to_excel(writer, sheet_name="back_family",  index=False)
    back_order_counts.sort_values(by=['Order', 'Count'], ascending=[True, False]).to_excel(writer, sheet_name="back_order",  index=False)